$content_container_width: 1270px;

$content_container_responsive_padding: 0 3vw;

$wrapper_background_light: #fefefe;

$header_background: rgba(0, 0, 0, .45);

$footer_background_dark: #191919;

$background_grey: #efefef;

$font_header: #ffffff;

$red_color: #cc5520;

$black_color: #000000;

$white_color: #ffffff;

$font_color_grey: #969595;

$MontserratFont: "Montserrat";

$PlayfairFont: "Playfair Display";

$media_query_screen_width_540: 540px;
